extends layout
block content
	.container.seccao.white
		.fixed-action-btn.top.fixed-add-bottom
				a.btn-floating.pointer.activarAzul(data-position="left", data-delay="10", data-tooltip="Add new inspection ", class="btn-floating btn-large waves-effect waves-light", href="/purchase_order/cambio/novo") <i class="material-icons activarVerde">add</i>
		if !Cambio || ! Cambio.length
			p.center-align.selmecAzul.bold Cambio Vazio!
		else
			.row
				.col.s12.m6
				.col.s12.m6.right.input-field
					i.material-icons.prefix search
					label(for="pesquisador") <span data-i18n="demo.pesquisar"></span>
					input(type="text", id="pesquisador", name="pesquisador", style="border-bottom:none !important;")
			h1.center-align.selmecAzul.bold(style="font-size: 1.5em") Cambio 
			fieldset.no-border.legend-border
						legend.selmecAzul.bold
			table.responsive-table.bordered.striped
				thead
					tr.selmecAzul
						th Euro
						th USD
						th ZAR
						th Data
						th
				tbody(id="myTable")
					-for(var index = (Cambio.length-1), j=0; index>=0 && j<100 ; index--, j++)
						tr.highlight(data-funcionario="#{Cambio[index]._id}", data-nome="#{Cambio[index].nome}",style="color:#{Cambio[index].observacao}")
							td #{Cambio[index].metical_euro}
							td #{Cambio[index].metical_dolar}
							td #{Cambio[index].metical_rand}
							td #{((Cambio[index].data).getDate()<10? '0'+(Cambio[index].data).getDate():(Cambio[index].data).getDate())+'/'+(((Cambio[index].data).getMonth()+1)<10? ('0'+((Cambio[index].data).getMonth()+1)):((Cambio[index].data).getMonth()+1))+'/'+((Cambio[index].data).getFullYear())+'   '+((Cambio[index].data).getHours()<10? ('0'+(Cambio[index].data).getHours()): (Cambio[index].data).getHours() )+' : '+((Cambio[index].data).getMinutes()<10? ('0'+(Cambio[index].data).getMinutes()):(Cambio[index].data).getMinutes())}
							td
								

	block js
		script.
			setInterval(function(){document.getElementById("StockId").className="activarAzul"}, 50);
			setTimeout(function(){
			if(window.innerWidth<780){
			document.getElementById("mySidebar").style.width = "0";
			document.getElementById("main").style.marginLeft= "0";
			document.getElementById("main").style.width="100%";
			document.getElementById("main").style.marginBottom="auto";}
			}, 50);


