extends layout
block content
	.seccao.container.white
		.fixed-action-btn.top.fixed-add-bottom
			a.btn-floating.pointer.activarAzul(data-position="left", data-delay="10", data-tooltip="Registar nova transferencia ", class="btn-floating btn-large waves-effect waves-light", href="/carservice/novo") <i class="material-icons activarVerde">add</i>	
		if !Car_Service || !Car_Service.length
			p.center-align.selmecAzul.bold <span data-i18n="demo.transferencia_home.lista_vazia"></span>
		else
			.row
				.col.s12.m6
				.col.s12.m6.right.input-field
					i.material-icons.prefix.activarVerde search
					label(for="pesquisadoruser") <span data-i18n="demo.pesquisar"></span>
					input(type="text", id="pesquisadoruser", name="pesquisadoruser", style="border-bottom:none !important;")
					.col.s6.file-field.input-field.hide
						.btn-floating.tooltipped.white.pointer#exportar(style="box-shadow:none !important;" data-position="left", data-delay="10", data-tooltip="Exportar Kilometragem", class="btn-floating btn-large waves-effect waves-light")
						input(type="file", id="upexcel",  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet")
						i.material-icons.activarVerde.small file_upload 
						<span class="hide-on-small-only"> Carregar</span>
			h1.center-align.selmecAzul.bold(style="font-size: 1.5em") <span data-i18n="demo.transferencia_home.service_vehicle"></span>
			table.responsive-table.bordered.striped
				thead
					tr.selmecAzul
						th <span data-i18n="demo.inspdiaria_home.matricula"></span>
						th <span data-i18n="demo.utilizador_form.marca"></span>
						th <span data-i18n="demo.utilizador_form.modelo"></span>
						th <span data-i18n="demo.transferencia_home.Data_Hora"></span>
						th.center Status
						th
				tbody(id="myTableUser")
					fieldset.no-border.legend-border
						legend.selmecAzul.bold
					-for(var index = (Car_Service.length-1); index >=0; index--)
						if Car_Service[index].nome != 'admin'
							tr.highlight(data-caso="#{Car_Service[index]._id}", style="color:#12375c")
								td #{Car_Service[index].matricula}
								td #{Car_Service[index].marca}
								td #{Car_Service[index].modelo}
								td #{((Car_Service[index].data_requisicao).getDate()<10? '0'+(Car_Service[index].data_requisicao).getDate():(Car_Service[index].data_requisicao).getDate())+'/'+(((Car_Service[index].data_requisicao).getMonth()+1)<10? ('0'+((Car_Service[index].data_requisicao).getMonth()+1)):((Car_Service[index].data_requisicao).getMonth()+1))+'/'+((Car_Service[index].data_requisicao).getFullYear())+'   '+((Car_Service[index].data_requisicao).getHours()<10? ('0'+(Car_Service[index].data_requisicao).getHours()): (Car_Service[index].data_requisicao).getHours() )+' : '+((Car_Service[index].data_requisicao).getMinutes()<10? ('0'+(Car_Service[index].data_requisicao).getMinutes()):(Car_Service[index].data_requisicao).getMinutes())}
								//- td #{Car_Service[index].data.getDate()+'/'+(Car_Service[index].data.getMonth()+1)+'/'+Car_Service[index].data.getFullYear()}
								td.center-align 
									-if (Car_Service[index].estagio.length <3)
										img(style='width:25px;' src='/img/glasshour.png')
									-else
										-if(Car_Service[index].estagio[2]==1)
											img(style='width:30px;' src='img/checked2.png')
										-else
											img(style='width:30px;' src='img/dinied.png')
								td.center-align
									a.pointer.info(style="margin-left: 15px", data-position="top", data-delay="10", data-tooltip="Details of #{Car_Service[index].marca_modelo} transference", href="#") <i class="material-icons activarVerde">info</i>
									-var temp = Car_Service[index].estagio.length
									-if ((DataU.nome==Car_Service[index].intervenientes[temp] || DataU.nivel_acesso=="admin")&&(Car_Service[index].estagio.length<3))
										a.pointer.aprovar_car_serivce(style="margin-left: 30px; color:green",data-position="top", data-delay="10", data-tooltip="Aprovar a transferência #{Car_Service[index].marca_modelo}", data-user-id="#{Car_Service[index].matricula}", data-user-new="#{Car_Service[index]._id}") <i class="material-icons bold">thumb_up</i>
										a.pointer.reprovar_car_serivce(style="margin-left: 30px; color:red",data-position="top", data-delay="10", data-tooltip="Reprovar a  #{Car_Service[index].marca_modelo}", data-user-id="#{Car_Service[index].matricula}", data-user-new="#{Car_Service[index]._id}") <i class="material-icons bold">thumb_down</i>
		block js
		script.
			setInterval(function(){document.getElementById("StockId").className="activarAzul"}, 50);
			setTimeout(function(){
			if(window.innerWidth<780){
			document.getElementById("mySidebar").style.width = "0";
			document.getElementById("main").style.marginLeft= "0";
			document.getElementById("main").style.width="100%";
			document.getElementById("main").style.marginBottom="0";}
			}, 50);