extends layout
block content
	.container.seccao.white
		div(class="fixed-action-btn top fixed-add-bottom")
			a.btn-floating.pointer.activarAzul.escolheform(data-position="left", data-delay="10", data-tooltip="Add new client/supplier", class="btn-floating btn-large waves-effect waves-light") <i class=" activarAzul material-icons">add</i>
		-if(DataU.nivel_acesso == "admin")
			.row
				.col.right
					form(id="uploadForm", enctype="multipart/form-data", action="/cliente/upload", method="post")
						input(type="file" name="file" style="border: none; width: 253px;" accept=".xls,.xlsx")
						input(type="submit" value="Upload" name="submit" style="border: none; width: 100px;" class="submit action-button")
		if( Cliente.length == 0)
			p.center-align.selmecAzul.bold Empty!
		else
			.row
				.col.s12.m6
				.col.s12.m6.right.input-field
					i.material-icons.prefix search
					label(for="pesquisador") <span data-i18n="demo.pesquisar"></span>
					input(type="text", id="pesquisador", name="pesquisador", style="border-bottom:none !important;")
			h1.center-align.selmecAzul.bold(style="font-size: 1.5em") <span data-i18n="demo.cliente_form.listaClientes"></span>
			fieldset.no-border.legend-border
				legend.selmecAzul.bold
			table.responsive-table.bordered.striped
				thead
					tr.selmecAzul
						th <span data-i18n="demo.cliente_form.nome"></span>
						th <span data-i18n="demo.cliente_form.filial"></span>
						th <span data-i18n="demo.cliente_form.telefone"></span>
						th 
				tbody(id="myTable")
					-for(var index = 0; index < Cliente.length; index++)
						tr.highlight(data-caso="#{Cliente[index]._id}", data-nome="#{Cliente[index].nome}",style="font-family:;color:#12375c")
							td #{Cliente[index].cliente_nome}
							td #{Cliente[index].cliente_filial}
							td #{Cliente[index].cliente_telefone}
							td.center-align
								if (DataU.nivel_acesso=="admin")
									a.tooltipped.pointer.info(style="margin-left: 15px", data-position="top", data-delay="10", data-tooltip="Details of #{Cliente[index].nome}", href="/cliente/detalhesClientes/#{Cliente[index]._id}") <i class="material-icons activarVerde">info</i>
									a.tooltipped.pointer.info(style="margin-left: 15px", data-position="top", data-delay="10", data-tooltip="edit  #{Cliente[index].nome}", href="/cliente/editarCliente/#{Cliente[index]._id}") <i class="material-icons selmecAzul">edit</i>
block js
		script(type="text/javascript" src="/js/jquery.mask.js")
		script.
			setInterval(function(){document.getElementById("StockId").className="activarAzul"}, 50);
			setTimeout(function(){
			if(window.innerWidth<780){
			document.getElementById("mySidebar").style.width = "0";
			document.getElementById("main").style.marginLeft= "0";
			document.getElementById("main").style.width="100%";
			document.getElementById("main").style.marginBottom="0";
			document.getElementByClassName("capitalize").style.class="pequeno";
			}
			}, 50);