extends layout
block content
	form
		ul(id="progressbar")
			li.center.inspdiariaIcon(class="active" style="user-select:none")  <span class="hide-on-med-and-down"><span data-i18n="demo.inspdiaria_form.dados_gerais"></span></span> <span class="hide-on-large-only"> <img class="hide-on-med-and-up" style="width:20px" src="/img/dados.png">
			li.center.inspdiariaIcon(style="user-select:none") <span class="hide-on-med-and-down">Contacto</span> <span class="large"> <img class="hide-on-large-only" style="width:30px" src="/img/dados.png">
		fieldset
			h2(class="fs-title selmecAzul center") <span data-i18n="demo.inspdiaria_form.dados_gerais"></span>
				.row
					.input-field.col.s12.m6
						label(for="nome_cliente") Nome do Cliente
						input(autocomplete="off", type="text", style="font-family:;color:#12375c" ,id="nome_cliente", name="nome_cliente")
					.col.s12.m6
						label(for="regiao") <span data-i18n="demo.utilizador_form.regiao"></span>
						select.browser-default(name="regiao", id="regiao", style="font-family:")
							option(value="" disabled selected) Escolha a opção
							-for(let i=0; i<AdMagen[0].regiao.length; i++)
								option(value="#{AdMagen[0].regiao[i].nome}", data-cont="#{AdMagen[0].regiao[i]._id}") #{AdMagen[0].regiao[i].nome}
				.row
					.col.s12.m6
						label <span data-i18n="demo.utilizador_form.provincia"></span>
						select.browser-default.browser-default(name="provincia", id="provincia", style="font-family:")
							option(value="" disabled selected) Escolha a opção
							-for(let i=0; i<AdMagen[0].provincia.length; i++)
								option(value="#{AdMagen[0].provincia[i].nome}", data-cont="#{AdMagen[0].provincia[i]._id}") #{AdMagen[0].provincia[i].nome}
					.input-field.col.s12.m6
						label(for="rua") Rua/Avenida
						input(autocomplete="off", type="text", style="font-family:;color:#12375c" ,id="rua", name="rua")
					.input-field.col.s12.m6
						label(for="numero_cliente") Numero
						input(autocomplete="off", type="number", style="font-family:;color:#12375c" ,id="numero_cliente", min=0, name="numero_cliente")
					.input-field.col.s12.m6
						label(for="bairro") Bairro
						input(autocomplete="off", type="text", style="font-family:;color:#12375c" ,id="bairro", name="bairro")
			input.hide(type="button", name="next", class="next action-button", value="Next >>")
		fieldset
			h2(class="fs-title selmecAzul center") contactos
				.row
					.input-field.col.s12.m6
						label(for="telemovel") Celular
						input(autocomplete="off", type="number", style="font-family:;color:#12375c" ,id="telemovel", name="telemovel")
					.input-field.col.s12.m6
						label(for="telefone") Telefone
						input(autocomplete="off", type="number", style="font-family:;color:#12375c" ,id="telefone", name="telefone")
					.input-field.col.s12.m6
						label(for="email") Email
						input(autocomplete="off", type="text", style="font-family:;color:#12375c" ,id="email", name="email")
				.row.center
					input.center#criacao_hvac_clinet(type="button", name="next", class="next action-button",signal = "#{Signal}", value="Criar")
		//- fieldset.no-border
		//- 		.row.buttons-container
		//- 			.col.s12.center
		//- 				butoon#criacao_hvac_clinet(type="button", class="btn waves-efect waves-light activarAzul") Criar
	
	block js
	script.
		//jQuery time
		var current_fs, next_fs, previous_fs; //fieldsets
		var left, opacity, scale; //fieldset properties which we will animate
		var animating; //flag to prevent quick multi-click glitches
		
		$(".next").click(function(){ 
		


			if(animating) return false;
			animating = true;
			current_fs = $(this).parent();
			next_fs = $(this).parent().next();

			//activate next step on progressbar using the index of next_fs
			$("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

			//show the next fieldset
			next_fs.show(); 
			//hide the current fieldset with style
			current_fs.animate({opacity: 0}, {
			step: function(now, mx) {
			//as the opacity of current_fs reduces to 0 - stored in "now"
			//1. scale current_fs down to 80%
			scale = 1 - (1 - now) * 0.2;
			//2. bring next_fs from the right(50%)
			left = (now * 50)+"%";
			//3. increase opacity of next_fs to 1 as it moves in
			opacity = 1 - now;
			current_fs.css({
			'transform': 'scale('+scale+')',
			'position': 'relative'
			});
			next_fs.css({'left': left, 'opacity': opacity});
			}, 
			duration: 800, 
			complete: function(){
			current_fs.hide();
			animating = false;
			}, 
			//this comes from the custom easing plugin
			easing: 'easeInOutBack'
			});
			
		});

		$("fieldset:not(:first)").hide();

		$(".inspdiariaIcon").click(function(e){
		e.preventDefault();
		$("#progressbar li:not(:first)").removeClass("active");

		$("fieldset").hide();

		// if(animating) return false;
		// animating = true;
		var maximo= $(this).index(".inspdiariaIcon");

	
		for(var i=0; i<maximo; i++){
		$("#progressbar li").eq((i+1)).addClass("active");
		console.log("happme************")
		}

		console.log(maximo);
		$("fieldset").eq(maximo).show()



		})

		$(".previous").click(function(){
		//- let current_fs, next_fs, previous_fs; //fieldsets
		//- let left, opacity, scale; //fieldset properties which we will animate
		//- let animating; //flag to prevent quick multi-click glitches

		if(animating) return false;
		animating = true;

		current_fs = $(this).parent();
		previous_fs = $(this).parent().prev();

		//de-activate current step on progressbar
		$("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

		//show the previous fieldset
		previous_fs.show(); 
		//hide the current fieldset with style
		current_fs.animate({opacity: 0}, {
		step: function(now, mx) {
		//as the opacity of current_fs reduces to 0 - stored in "now"
		//1. scale previous_fs from 80% to 100%
		scale = 0.8 + (1 - now) * 0.2;
		//2. take current_fs to the right(50%) - from 0%
		left = ((1-now) * 50)+"%";
		//3. increase opacity of previous_fs to 1 as it moves in
		opacity = 1 - now;
		current_fs.css({'left': left});
		previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
		}, 
		duration: 800, 
		complete: function(){
		current_fs.hide();
		animating = false;
		}, 
		//this comes from the custom easing plugin
		easing: 'easeInOutBack'
		});
		});

		setTimeout(function(){document.getElementById("geradorId").className="activarAzul"}, 50);
		setTimeout(function(){
		if(window.innerWidth<800){
		document.getElementById("mySidebar").style.width = "0";
		document.getElementById("main").style.marginLeft= "0";
		document.getElementById("main").style.width="100%";
		document.getElementById("main").style.marginBottom="0";
		document.getElementByClassName("capitalize").style.class="pequeno";
		}
		}, 50);
