extends layout
block content
	form#ttnumberform(class="col s12")
		h3(class="fs-title selmecAzul" style="margin-top:20px; margin-bottom:22px; border-bottom: 5px solid #a1c861 !important;") <span data-i18n="demo.ttnumber_form.nivelprioridadeaccao"></span>
		.row#recolherdados(style="margin-bottom:0px" dadosreferenciajobcard="#{Jobcards[0]._id}" dadosjobtype="#{Jobcards[0].jobcard_jobtype}" dadosjobstatus ="#{Jobcards[0].ttnumber_status}" detalhescall="#{JSON.stringify(Jobcards[0].jobcard_call)}")
			.col.s12.m6(style="margin-top:2px")
				label(style="margin-left:0.2rem;") <span data-i18n="demo.ttnumber_form.nivelprioridadeaccao"></span>
				-if(Jobcards[0].ttnumber_status == "New" && ((Jobcards[0].jobcard_jobinfo.includes("Generator Abnormal")) || (Jobcards[0].jobcard_jobinfo.includes("Generator Low Fuel")) || (Jobcards[0].jobcard_jobinfo.includes("Generator Running"))) )
					select.browser-default(name="jobcard_holdaction", id="jobcard_holdaction", style="font-family:")
						option(value="" disabled selected selmecVerde) Escolha uma opção
						option(value="Em Espera") Em espera
						option(value="Atribuir a outra equipa") Atribuir a outra equipa
				-else if(Jobcards[0].ttnumber_status == "New")
					select.browser-default(name="jobcard_holdaction", id="jobcard_holdaction", style="font-family:")
						option(value="" disabled selected selmecVerde) Escolha uma opção
						option(value="Atribuir a outra equipa") Atribuir a outra equipa
				-else
					select.browser-default(name="jobcard_holdaction", id="jobcard_holdaction", style="font-family:")
						option(value="" disabled selected selmecVerde) Escolha uma opção
						option(value="Em Espera") Em espera
						option(value="Atribuir a outra equipa") Atribuir a outra equipa
			.col.s12.m6.input-field(style="margin-top:17px")
				label(for="jobcard_holdreason") <span data-i18n="demo.manutencao_form.holdreason"></span>
				input( autocomplete="off", type="text", style="font-family:;color:#12375c" ,id="jobcard_holdreason" ,name="jobcard_holdreason")
		.row#mostrartecnicosubst.hide(style="margin-bottom:0px")
			.col.s12.m6(style="margin-top:2px")
				label(for="jobcard_tecnicoid1") <span data-i18n="demo.ttnumber_form.tecniconome"></span>
				select.browser-default(name="jobcard_tecnicoid1", id="jobcard_tecnicoid1")
					option(value="" disabled selected) Escolha a opção
					-for(var i=0; i<Usuarios.length; i++)
						option(value="#{Usuarios[i]._id}") #{Usuarios[i].nome}
		button(type="button", id="jobcardactionprioridade_yes_btn", class="btn modal-action waves-effect waves-green btn-flat" style="margin-top:20px; margin-left: 20px !important; font-size:12px") <span data-i18n="demo.ttnumber_form.guardar"></span>
	//- -if(Usuarios.funcao == "Call Center")
	//- 	form#ttnumberform(class="col s12")
	//- 		h3(class="fs-title selmecAzul" style="margin-top:20px; margin-bottom:22px; border-bottom: 5px solid #a1c861 !important;") <span data-i18n="demo.ttnumber_form.nivelprioridadeaccao"></span>
	//- 		.row#recolherdados(style="margin-bottom:0px" dadosreferenciajobcard="#{Jobcards[0]._id}" dadosjobtype="#{Jobcards[0].jobcard_jobtype}" detalhescall="#{JSON.stringify(Jobcards[0].jobcard_call)}")
	//- 			.col.s12.m6(style="margin-top:2px")
	//- 				label(style="margin-left:0.2rem;") <span data-i18n="demo.ttnumber_form.nivelprioridadeaccao"></span>
	//- 				select.browser-default(name="jobcard_holdaction", id="jobcard_holdaction", style="font-family:")
	//- 					option(value="" disabled selected selmecVerde) Escolha uma opção
	//- 					option(value="Cancelar jobcard") Cancelar jobcard
	//- 			.col.s12.m6.input-field(style="margin-top:17px")
	//- 				label(for="jobcard_holdreason") <span data-i18n="demo.manutencao_form.holdreason"></span>
	//- 				input( autocomplete="off", type="text", style="font-family:;color:#12375c" ,id="jobcard_holdreason" ,name="jobcard_holdreason")
	//- 		.row#mostrartecnicosubst.hide(style="margin-bottom:0px")
	//- 			.col.s12.m6(style="margin-top:2px")
	//- 				label(for="jobcard_tecnicoid1") <span data-i18n="demo.ttnumber_form.tecniconome"></span>
	//- 				select.browser-default(name="jobcard_tecnicoid1", id="jobcard_tecnicoid1")
	//- 					option(value="" disabled selected) Escolha a opção
	//- 					-for(var i=0; i<Usuarios.length; i++)
	//- 						option(value="#{Usuarios[i]._id}") #{Usuarios[i].nome}
	//- 		button(type="button", id="jobcardactionprioridade_yes_btn", class="btn modal-action waves-effect waves-green btn-flat" style="margin-top:20px; margin-left: 20px !important; font-size:12px") <span data-i18n="demo.ttnumber_form.guardar"></span>
	if Projects
		form#ttnumberform(class="col s12")
			h3(class="fs-title selmecAzul" style="margin-top:20px; margin-bottom:22px; border-bottom: 5px solid #a1c861 !important;") <span data-i18n="demo.ttnumber_form.nivelprioridadeaccao"></span>
			.row#recolherdados(style="margin-bottom:0px" dadosreferenciaprojecto="#{Projects[0]._id}" dadosreferenciastatus = "#{Projects[0].ttnumber_status}")
				.col.s12.m6(style="margin-top:2px")
					label(style="margin-left:0.2rem;") <span data-i18n="demo.ttnumber_form.nivelprioridadeaccao"></span>
					select.browser-default(name="jobcard_holdaction", id="jobcard_holdaction", style="font-family:")
						option(value="" disabled selected selmecVerde) Escolha uma opção
						option(value="Em Espera") Em espera
						option(value="Atribuir a outra equipa") Atribuir a outra equipa
				.col.s12.m6.input-field(style="margin-top:17px")
					label(for="jobcard_holdreason") <span data-i18n="demo.manutencao_form.holdreason"></span>
					input( autocomplete="off", type="text", style="font-family:;color:#12375c" ,id="jobcard_holdreason" ,name="jobcard_holdreason")
			.row#mostrartecnicosubst.hide(style="margin-bottom:0px")
				.col.s12.m6(style="margin-top:2px")
					label(for="jobcard_tecnicoid1") <span data-i18n="demo.ttnumber_form.tecniconome"></span>
					select.browser-default(name="jobcard_tecnicoid1", id="jobcard_tecnicoid1")
						option(value="" disabled selected) Escolha a opção
						-for(var i=0; i<Usuarios.length; i++)
							option(value="#{Usuarios[i]._id}") #{Usuarios[i].nome}
			button(type="button", id="jobcardactionprioridadeproject_yes_btn", class="btn modal-action waves-effect waves-green btn-flat" style="margin-top:20px; margin-left: 20px !important; font-size:12px") <span data-i18n="demo.ttnumber_form.guardar"></span>
	block js
		script(type="text/javascript" src="/js/jquery.mask.js")
		script.
			setTimeout(function(){document.getElementById("geradorId").className="activarAzul"}, 50);
			setTimeout(function(){
				
			if(window.innerWidth<780){
			document.getElementById("mySidebar").style.width = "0";
			document.getElementById("main").style.marginLeft= "0";
			document.getElementById("main").style.width="100%";
			document.getElementById("main").style.marginBottom="0";
			document.getElementByClassName("capitalize").style.class="pequeno";
			}
			}, 50);
//- extends layout
//- block content
//- 	if Jobcards && DataU.funcao == "admin"
//- 		form#ttnumberform(class="col s12")
//- 			h3(class="fs-title selmecAzul" style="margin-top:20px; margin-bottom:22px; border-bottom: 5px solid #a1c861 !important;") <span data-i18n="demo.ttnumber_form.nivelprioridadeaccao"></span>
//- 			.row#recolherdados(style="margin-bottom:0px" dadosreferenciajobcard="#{Jobcards[0]._id}" dadosjobtype="#{Jobcards[0].jobcard_jobtype}" detalhescall="#{JSON.stringify(Jobcards[0].jobcard_call)}")
//- 				.col.s12.m6(style="margin-top:2px")
//- 					label(style="margin-left:0.2rem;") <span data-i18n="demo.ttnumber_form.nivelprioridadeaccao"></span>
//- 					select.browser-default(name="jobcard_holdaction", id="jobcard_holdaction", style="font-family:")
//- 						option(value="" disabled selected selmecVerde) Escolha uma opção
//- 						option(value="Em Espera") Em espera
//- 						option(value="Atribuir a outra pessoa") Atribuir a outra pessoa
//- 						option(value="Cancelar jobcard") Cancelar jobcard
//- 				.col.s12.m6.input-field(style="margin-top:17px")
//- 					label(for="jobcard_holdreason") <span data-i18n="demo.manutencao_form.holdreason"></span>
//- 					input( autocomplete="off", type="text", style="font-family:;color:#12375c" ,id="jobcard_holdreason" ,name="jobcard_holdreason")
//- 			.row#mostrartecnicosubst.hide(style="margin-bottom:0px")
//- 				.col.s12.m6(style="margin-top:2px")
//- 					label(for="jobcard_tecnicoid1") <span data-i18n="demo.ttnumber_form.tecniconome"></span>
//- 					select.browser-default(name="jobcard_tecnicoid1", id="jobcard_tecnicoid1")
//- 						option(value="" disabled selected) Escolha a opção
//- 						-for(var i=0; i<Usuarios.length; i++)
//- 							option(value="#{Usuarios[i]._id}") #{Usuarios[i].nome}
//- 			button(type="button", id="jobcardactionprioridade_yes_btn", class="btn modal-action waves-effect waves-green btn-flat" style="margin-top:20px; margin-left: 20px !important; font-size:12px") <span data-i18n="demo.ttnumber_form.guardar"></span>
//- 	if Projects
//- 		form#ttnumberform(class="col s12")
//- 			h3(class="fs-title selmecAzul" style="margin-top:20px; margin-bottom:22px; border-bottom: 5px solid #a1c861 !important;") <span data-i18n="demo.ttnumber_form.nivelprioridadeaccao"></span>
//- 			.row#recolherdados(style="margin-bottom:0px" dadosreferenciaprojecto="#{Projects[0]._id}" dadosreferenciastatus = "#{Projects[0].ttnumber_status}")
//- 				.col.s12.m6(style="margin-top:2px")
//- 					label(style="margin-left:0.2rem;") <span data-i18n="demo.ttnumber_form.nivelprioridadeaccao"></span>
//- 					select.browser-default(name="jobcard_holdaction", id="jobcard_holdaction", style="font-family:")
//- 						option(value="" disabled selected selmecVerde) Escolha uma opção
//- 						option(value="Em Espera") Em espera
//- 						option(value="Atribuir a outra pessoa") Atribuir a outra pessoa
//- 				.col.s12.m6.input-field(style="margin-top:17px")
//- 					label(for="jobcard_holdreason") <span data-i18n="demo.manutencao_form.holdreason"></span>
//- 					input( autocomplete="off", type="text", style="font-family:;color:#12375c" ,id="jobcard_holdreason" ,name="jobcard_holdreason")
//- 			.row#mostrartecnicosubst.hide(style="margin-bottom:0px")
//- 				.col.s12.m6(style="margin-top:2px")
//- 					label(for="jobcard_tecnicoid1") <span data-i18n="demo.ttnumber_form.tecniconome"></span>
//- 					select.browser-default(name="jobcard_tecnicoid1", id="jobcard_tecnicoid1")
//- 						option(value="" disabled selected) Escolha a opção
//- 						-for(var i=0; i<Usuarios.length; i++)
//- 							option(value="#{Usuarios[i]._id}") #{Usuarios[i].nome}
//- 			button(type="button", id="jobcardactionprioridadeproject_yes_btn", class="btn modal-action waves-effect waves-green btn-flat" style="margin-top:20px; margin-left: 20px !important; font-size:12px") <span data-i18n="demo.ttnumber_form.guardar"></span>
//- 	block js
//- 		script(type="text/javascript" src="/js/jquery.mask.js")
//- 		script.
//- 			setTimeout(function(){document.getElementById("geradorId").className="activarAzul"}, 50);
//- 			setTimeout(function(){
				
//- 			if(window.innerWidth<600){
//- 			document.getElementById("mySidebar").style.width = "0";
//- 			document.getElementById("main").style.marginLeft= "0";
//- 			document.getElementById("main").style.width="100%";
//- 			document.getElementById("main").style.marginBottom="0";
//- 			document.getElementByClassName("capitalize").style.class="pequeno";
//- 			}
//- 			}, 50);