extends layout
block content
	.row(style="margin-top:15px;margin-bottom: 0px !important;")
		.row#recolherdados(detalhesjobcards="#{DadosJobcards}" detalhessession="#{DataU.nome}" Permissao="#{permissao}" detalhesprojectos="#{DadosProjects}")
		if(DataU.nivel_acesso == "admin")
			.row
				.col.right
					form(id="uploadForm", enctype="multipart/form-data", action="/manutencao/uploadplan", method="post")
						input(type="file" name="file" style="border: none; width: 253px;")
						input(type="submit" value="Upload" name="submit" style="border: none; width: 100px;")
		if((DataU.nome == "Andre du Preez") || (DataU.nome == "Livio Manuel") || (DataU.nome == "Wilson Machado"))
			.row
				.col.right
					form(id="uploadForm1", enctype="multipart/form-data", action="/manutencao/uploadttnumberplan", method="post")
						input(type="file" name="file" style="border: none; width: 253px;")
						input(type="submit" value="Upload" name="submit" style="border: none; width: 100px;")
		//- if(DataU.nivel_acesso == "admin")
		//- 	.row
		//- 		.col.right
		//- 			form(id="uploadForm2", enctype="multipart/form-data", action="/manutencao/uploadhvacplan", method="post")
		//- 				input(type="file" name="file" style="border: none; width: 253px;")
		//- 				input(type="submit" value="Upload" name="submit" style="border: none; width: 100px;")
		.row
			if(Jobcards.length == 0)
				p.center-align.selmecAzul.bold <span data-i18n="demo.ttnumber_form.semplano"></span>
			else
				if(Jobcards[0].ttnumber_status == "New")
					form#preventativemaintnewpesquisa(class="col s12"  method="POST" onsubmit="return validatePreventativemaintnew()" name="preventativemaintnewpesquisa")
						.row
							.col.s12.m6
							.col.s12.m6.right.input-field
								i.material-icons.prefix search
								label(for="pesquisador") <span data-i18n="demo.pesquisar"></span>
								input(type="text", id="pesquisador", name="pesquisador", style="border-bottom:none !important;")
					h1.center-align.selmecAzul.bold(style="font-size: 1.5em") <span data-i18n="demo.manutencao_form.maintplannew"></span>
				else
					form#preventativemaintinprogresspesquisa(class="col s12"  method="POST" onsubmit="return validatePreventativemaintinprogress()" name="preventativemaintinprogresspesquisa")
						.row
							.col.s12.m6
							.col.s12.m6.right.input-field
								i.material-icons.prefix search
								label(for="pesquisador") <span data-i18n="demo.pesquisar"></span>
								input(type="text", id="pesquisador", name="pesquisador", style="border-bottom:none !important;")
					h1.center-align.selmecAzul.bold(style="font-size: 1.5em") <span data-i18n="demo.manutencao_form.maintplaninprogress"></span>
				fieldset.no-border.legend-border
					legend.selmecAzul.bold
				table.responsive-table.bordered.striped#myTable
					thead
						tr.selmecAzul
							th TT Number
							th Site
							th <span data-i18n ="demo.cliente_form.filial"></span>
							th <span class="hide-on-small-only"><span data-i18n="demo.manutencao_form.maintenanceofficer"></span></span><span class="hide-on-med-and-up"><span data-i18n=demo.manutencao_form.maintenanceofficer1></span></span>
							th <span data-i18n="demo.manutencao_form.region"></span>
							th <span class="hide-on-small-only"><span data-i18n="demo.manutencao_form.planneddate"></span></span><span class="hide-on-med-and-up"><span data-i18n=demo.manutencao_form.planneddate1></span></span>
							th Call Center
							th <span data-i18n="demo.manutencao_form.estadotrabalho"></span>
							th Departamento
							th
					tbody(id="myTableUser1")
						-for(var index = 0; index < Jobcards.length; index++)
							tr.highlight(style="font-family:;color:#12375c")
								-if(Jobcards[index].jobcard_ttnumber == 0)
									td -
								-else
									td #{Jobcards[index].jobcard_ttnumber}
								-if(Jobcards[index].jobcard_departamento == "Telco")
									td #{Jobcards[index].jobcard_site}
								-else if (Jobcards[index].jobcard_departamento == "")
									td #{Jobcards[index].jobcard_site}
								-else
									td #{Jobcards[index].jobcard_clientenome}
								-if(Jobcards[index].jobcard_clientebranch != "")
									td #{Jobcards[index].jobcard_clientebranch}
								-else
									td -
								td #{Jobcards[index].jobcard_tecniconome}
								td #{Jobcards[index].jobcard_regiao}
								td #{Jobcards[index].jobcard_planneddate}
								-if((Jobcards[index].jobcard_backofficeagent != undefined) && (Jobcards[index].jobcard_backofficeagent != ""))
									td #{Jobcards[index].jobcard_backofficeagent}
								-else
									td -
								-if (Jobcards[index].jobcard_estadoactual == "New")
									td <span data-i18n=demo.manutencao_form.new></span>
								-if (Jobcards[index].jobcard_estadoactual == "Planned")
									td <span data-i18n=demo.manutencao_form.planned></span>
								-if (Jobcards[index].jobcard_estadoactual == "On site")
									td <span data-i18n=demo.manutencao_form.onsite></span>
								-if (Jobcards[index].jobcard_estadoactual == "Awaiting approval")
									td <span data-i18n=demo.manutencao_form.awaitingapproval></span>
								-if (Jobcards[index].jobcard_estadoactual == "Canceled")
									td <span data-i18n=demo.manutencao_form.canceled></span>
								-if (Jobcards[index].jobcard_estadoactual == "On hold")
									td <span data-i18n=demo.manutencao_form.onhold></span>
								-if (Jobcards[index].jobcard_estadoactual == "On route")
									td <span data-i18n=demo.manutencao_form.onroute></span>
								-if (Jobcards[index].jobcard_estadoactual == "Approved")
									td <span data-i18n=demo.manutencao_form.approved></span>
								-if (Jobcards[index].jobcard_estadoactual == "Sent Back")
									td <span data-i18n=demo.manutencao_form.sentback></span>
								td #{Jobcards[index].jobcard_departamento}
								td.right-align
									-if(DataU.nome == "Guest")
										a.tooltipped.pointer.detalhesJobcardCallOut.info(style="margin-left: 5px", data-position="top", data-delay="10", data-user-new="#{Jobcards[index]._id}", data-tooltip="Details of job card") <i class="material-icons activarVerde">info</i>
									-else
										-if(permissao != 1)
											-if ((DataU.nome==Jobcards[index].jobcard_controladorintervenientes[1]) && (Jobcards[index].jobcard_estadoactual == "On hold") && (Jobcards[index].ttnumber_status != "New") )
												a.pointer.retomarttnumber(style="margin-left: 5px; color:green",data-position="top", data-delay="10", data-tooltip="Retomar jobcard", data-user-new="#{Jobcards[index]._id}", datajobtype="#{Jobcards[index].jobcard_jobtype}", detalhescall="#{JSON.stringify(Jobcards[index].jobcard_call)}") <i class="material-icons bold">thumb_up</i>
										-if(Jobcards[index].jobcard_prioritycomments && (Jobcards[index].jobcard_prioritycomments.findIndex(x=>x.jobcard_commentpriority=="Media")!=-1))
											a.tooltipped.pointer(style="margin-left: 5px", data-position="top", data-delay="10", data-tooltip="Comments made") <i class="material-icons", style ="color:green">flag</i>
										-else if(Jobcards[index].jobcard_prioritycomments && (Jobcards[index].jobcard_prioritycomments.findIndex(x=>x.jobcard_commentpriority=="Alta")!=-1))
											a.tooltipped.pointer(style="margin-left: 5px", data-position="top", data-delay="10", data-tooltip="Comments made") <i class="material-icons", style ="color:red">flag</i>
										-if ((DataU.nome==Jobcards[index].jobcard_controladorintervenientes[1]) && (Jobcards[index].jobcard_controlador.length == 1))
											a.pointer.aprovarttnumber(style="margin-left: 5px; color:green",data-position="top", data-delay="10", data-tooltip="Accept the jobcard", data-user-new="#{Jobcards[index]._id}", datajobtype="#{Jobcards[index].jobcard_jobtype}", detalhescall="#{JSON.stringify(Jobcards[index].jobcard_call)}") <i class="material-icons bold">thumb_up</i>
										-if ((DataU.nome==Jobcards[index].jobcard_controladorintervenientes[1]) && (Jobcards[index].jobcard_controlador.length == 2))
											-if ((Jobcards[index].jobcard_tecarrivaldate != undefined) && Jobcards[index].jobcard_sitearrivaldate == undefined)
												-if(Jobcards[index].jobcard_ttnumber == 0)
													a.tooltipped.pointer.detalhesChegadaSitePlanned(style="margin-left: 30px; color:green",data-position="top", data-delay="10", data-tooltip="Site Arrival", data-user-new="#{Jobcards[index]._id}") <i class="material-icons selmecAzul">location_on</i>
												-else
													a.tooltipped.pointer.detalhesChegadaSitePlannedsemttnumber(style="margin-left: 30px; color:green",data-position="top", data-delay="10", data-tooltip="Site Arrival", data-user-new="#{Jobcards[index]._id}") <i class="material-icons selmecAzul">location_on</i>
											-else
												-if(Jobcards[index].jobcard_sitearrivaldate != undefined)
													a.tooltipped.pointer.generatordetalhes(style="margin-left: 0px; color:green",data-position="top", data-delay="10", data-tooltip="Generator Details", datareferencia="#{Jobcards[index]._id}", datasiteid="#{Jobcards[index].jobcard_siteid}") <img width="27px" src="/img/generator.png" style="margin-bottom:-2px">
													a.tooltipped.pointer.credelecdetalhes(style="margin-left: 0px; color:green",data-position="top", data-delay="10", data-tooltip="Credelec Details", datareferencia="#{Jobcards[index]._id}") <img width="27px" src="/img/electricity.png" style="margin-bottom:-2px">
													-if(Jobcards[index].jobcard_departamento == "Telco")
														a.tooltipped.pointer.equipmentrepairs.hide(style="margin-left: 5px; color:green",data-position="top", data-delay="10", data-tooltip="Equipment Repairs", data-user-new="#{Jobcards[index]._id}") <i class="material-icons selmecAzul">build</i>
													-else
														a.tooltipped.pointer.equipmentrepairs(style="margin-left: 5px; color:green",data-position="top", data-delay="10", data-tooltip="Equipment Repairs", data-user-new="#{Jobcards[index]._id}") <i class="material-icons selmecAzul">build</i>
													a.tooltipped.pointer.sparesused(style="margin-left: 5px; color:green",data-position="top", data-delay="10", data-tooltip="Spares Used", data-user-new="#{Jobcards[index]._id}", data-user-name="#{Jobcards[index].jobcard_tecnicoid}") <img width="30px" src="/img/boxspares.png" style="margin-bottom:-2px">
													-if((Jobcards[index].jobcardsignage === undefined) || (Jobcards[index].jobcardcontainer === undefined) || (Jobcards[index].jobcardmast === undefined) || (Jobcards[index].jobcardcleaning === undefined) || (Jobcards[index].jobcardlocks === undefined) || (Jobcards[index].jobcardenvironmental === undefined) || (Jobcards[index].jobcardfallarrest === undefined) || (Jobcards[index].jobcardgeneratorinfo === undefined) || (Jobcards[index].jobcardedBoardinfo === undefined) || (Jobcards[index].jobcardelectricalinfo === undefined) || (Jobcards[index].jobcardrectifierinfo === undefined) || (Jobcards[index].jobcardbatterybanksinfo === undefined) || (Jobcards[index].jobcardaircondinfo === undefined) || (Jobcards[index].jobcardantennasinfo === undefined) || (Jobcards[index].jobcardeainfo === undefined) || (Jobcards[index].jobcardtxinfo === undefined) || (Jobcards[index].jobcardvsatinfo === undefined) || (Jobcards[index].jobcardphotoinfo.length === 0) || (Jobcards[index].jobcardconcernsinfo === undefined))
														a.tooltipped.pointer.info(style="margin-left: 15px", data-position="top", data-delay="10", href="/manutencao/menuMaintPlan/#{Jobcards[index]._id}", data-tooltip="Add more details" dataaudittrail="#{JSON.stringify(Jobcards[index].jobcard_audittrail)}") <i class="material-icons selmecAzul">add_box</i>
													a.tooltipped.pointer.notifycallcenter(style="margin-left: 5px; color:green",data-position="top", data-delay="10", data-tooltip="Submit work", data-user-new="#{Jobcards[index]._id}" datajobtype="#{Jobcards[index].jobcard_jobtype}") <img width="30px" src="/img/notifycallcenterimg.png" style="margin-bottom:-2px">
										-if ((DataU.nome==Jobcards[index].jobcard_controladorintervenientes[1]) && (Jobcards[index].jobcard_controlador.length == 4))
											a.pointer.saidasiteplanned(style="margin-left: 0px; color:green",data-position="top", data-delay="10", data-tooltip="Site Departure", data-user-new="#{Jobcards[index]._id}" datajobtype="#{Jobcards[index].jobcard_jobtype}") <i class="material-icons selmecAzul">time_to_leave</i>
										-if ((DataU.nome==Jobcards[index].jobcard_controladorintervenientes[2] || DataU.verificador_funcao == "Regional Manager" || DataU.nivel_acesso == "admin" || DataU.nome == "Antonio Biquiza" || DataU.funcao == "General Manager") && (Jobcards[index].jobcard_sitedeparturedate == undefined) && (Jobcards[index].jobcard_controlador.length < 5))
												a.tooltipped.pointer(style="margin-left: 5px", data-position="top", data-delay="10", data-tooltip="Take action" href="/manutencao/detalhesAccaoPrioridade/#{Jobcards[index]._id}") <i class="material-icons selmecAzul">pan_tool</i>
										-if((DataU.funcao == "Call Center") && (Jobcards[index].jobcard_sitedeparturedate == undefined))
											a.tooltipped.pointer(style="margin-left: 5px", data-position="top", data-delay="10", data-tooltip="Add comments", href="/manutencao/detalhesCallCenterComments/#{Jobcards[index]._id}") <img width="20px" src="/img/addcomments.png" style="margin-bottom:-2px">
										a.tooltipped.pointer.info.detalhesJobcardPlanned(style="margin-left: 15px", data-position="top", data-delay="10", data-user-new="#{Jobcards[index]._id}", data-tooltip="Details of job card") <i class="material-icons activarVerde">info</i>
						if !Dadospesquisa
							if(dadostotalnr > 1)
								if(Jobcards[0].ttnumber_status == "New")
									tr.highlight(style="font-family:;color:#12375c")
										td.center-align
											if(dadoscontroladordecr != 0)
												a.tooltipped.pointer.info(style="margin-left: 15px", data-position="top", data-delay="10", data-tooltip="Anterior" href="/manutencao/preventativemaint/newhoje/previouspage/#{dadoscontroladordecr}/#{dadostotalnr}") <i class="material-icons selmecAzul">fast_rewind</i>
										td
										td
										td
										td
										td
										td
										td
										td.center-align
											if(dadoscontroladorincr < dadostotalnr)
												a.tooltipped.pointer.info(style="margin-left: 15px", data-position="top", data-delay="10", data-tooltip="Próximo" href="/manutencao/preventativemaint/newhoje/nextpage/#{dadoscontroladorincr}/#{dadostotalnr}") <i class="material-icons selmecAzul">fast_forward</i>
								else
									tr.highlight(style="font-family:;color:#12375c")
										td.center-align
											if(dadoscontroladordecr != 0)
												a.tooltipped.pointer.info(style="margin-left: 15px", data-position="top", data-delay="10", data-tooltip="Próximo" href="/manutencao/preventativemaint/inprogress/previouspage/#{dadoscontroladordecr}/#{dadostotalnr}") <i class="material-icons selmecAzul">fast_rewind</i>
										td
										td
										td
										td
										td
										td
										td
										td.center-align
											if(dadoscontroladorincr < dadostotalnr)
												a.tooltipped.pointer.info(style="margin-left: 15px", data-position="top", data-delay="10", data-tooltip="Próximo" href="/manutencao/preventativemaint/inprogress/nextpage/#{dadoscontroladorincr}/#{dadostotalnr}") <i class="material-icons selmecAzul">fast_forward</i>
	block js
		script(type="text/javascript" src="/js/jquery.mask.js")
		script.

			function validatePreventativemaintnew() {
				var pesquisador = document.forms["preventativemaintnewpesquisa"]["pesquisador"].value;
				if(pesquisador != ""){
					document.getElementById("preventativemaintnewpesquisa").action = "/manutencao/preventativemaintnewpesquisa";
				}
			}

			function validatePreventativemaintinprogress() {
				var pesquisador = document.forms["preventativemaintinprogresspesquisa"]["pesquisador"].value;
				if(pesquisador != ""){
					document.getElementById("preventativemaintinprogresspesquisa").action = "/manutencao/preventativemaintinprogresspesquisa";
				}
			}

			setInterval(function(){document.getElementById("geradorId").className="activarAzul"}, 50);
			setTimeout(function(){
				
			if(window.innerWidth<780){
			document.getElementById("mySidebar").style.width = "0";
			document.getElementById("main").style.marginLeft= "0";
			document.getElementById("main").style.width="100%";
			document.getElementById("main").style.marginBottom="0";
			document.getElementByClassName("capitalize").style.class="pequeno";
			}
			}, 50);