extends layout
block content
	.container.seccao.white
		.row
			.col.s12#container(dataa="#{Mensagem}"  style="position: relative; height:70vh; width:75vw !important") 
				canvas#canvas(style="position: relative; height:70vh; width:75vw !important") 
				

	block js
		script(type="text/javascript" src="/js/Chart.min.js")
		//- script(src="https://canvasjs.com/assets/script/canvasjs.min.js")
		script.
			let dados=JSON.parse($("#container").attr("dataa"))
			for(let i=0; i< dados.length; i++){
			dados[i].lista=dados[i].lista.sort((a, b) => (a.observacao >b.observacao)? 1 : -1)
			console.log(dados[i].lista);
			}
			var etiqueta=[];
			var valores1=[];
			var valores2=[];
			var valores3=[];

			var etiqueta=[];
			var fechho=[];
			var rendiccao=[];
			var abertura=[];
			var pannico=[];
			for(let i=0; i<dados.length; i++){
			var makhap1 = dados[i].lista.findIndex(x => x.observacao =="grey");
			var makhap2 = dados[i].lista.findIndex(x => x.observacao =="orange");
			var makhap3 = dados[i].lista.findIndex(x => x.observacao =="green");
			var makhap4 = dados[i].lista.findIndex(x => x.observacao =="red");
			console.log(makhap1,makhap2,makhap3,makhap4)
			var yu= (dados[i]._id).toString();
			etiqueta.push(yu)

			

			if(makhap1!=-1)
				fechho.push(dados[i].lista[makhap1].soma);
			else
				fechho.push(0);

			if(makhap2!=-1)
				rendiccao.push(dados[i].lista[makhap2].soma);
			else
				rendiccao.push(0);

			if(makhap3!=-1)
				abertura.push(dados[i].lista[makhap3].soma);
			else
				abertura.push(0);

			if(makhap4!=-1)
				pannico.push(dados[i].lista[makhap4].soma);
			else
				pannico.push(0);

			}
			//- var etiqueta=[];
			//- var fechho=[];
			//- var valores2=[];
			//- var valores3=[];
			

			var ctx = document.getElementById('canvas');

			var myChart = new Chart(ctx, {
			type: 'bar',
			data: {
			labels: etiqueta,
			datasets: [
			{
			label: 'Bom estado',
			data: abertura,
			backgroundColor: 'green',
			},
			
			{
			label: 'Estado Razoável',
			data: rendiccao,
			backgroundColor: 'orange',
			},
			{
			label: 'Mau estado',
			data: pannico,
			backgroundColor: 'red',
			},
			{
			label: 'Nao feito',
			data: fechho,
			backgroundColor: 'grey',
			}
			]
			},
			options: {
			scales: {
			xAxes: [{ stacked: true }],
			yAxes: [{ stacked: true }]
			},
			}
			});
			//- ********************************************************end 

			//- var ctx = document.getElementById('canvas');




			//- var myChart = new Chart(ctx, {
			//- type: 'bar',
			//- data: {
			//- labels: etiqueta,
			//- datasets: [
			//- {
			//- label: 'Bom Estado',
			//- data: valores1,
			//- backgroundColor: 'green',
			//- },
			//- {
			//- label: 'Estado Razoável',
			//- data: valores2,
			//- backgroundColor: 'orange',
			//- },
			//- {
			//- label: 'Mau estado',
			//- data: valores3,
			//- backgroundColor: 'red',
			//- }
			//- ]
			//- },
			//- options: {
			//- scales: {
			//- xAxes: [{ stacked: true }],
			//- yAxes: [{ stacked: true }]
			//- },
			//- }
			//- });

			var canvas1 = document.getElementById('canvas');
			canvas1.onclick = function(evt) {
			var activePoint = myChart.getElementAtEvent(evt)[0];
			var data = activePoint._chart.data;
			var datasetIndex = activePoint._datasetIndex;
			var label = data.datasets[datasetIndex].label;
			var value = data.datasets[datasetIndex].data[activePoint._index];
			var regiao= data.labels[activePoint._index]
			//- label=label.replace("Estado", '').trim()
			//- if(regiao!="Maputo Cidade")
			//- regiao=regiao.replace("Região", '').toLowerCase().trim()

			//- var rule = label+'1'+regiao
			console.log(regiao);
			window.location.href="/mensagem/teste/"+regiao
			};

			setInterval(function(){document.getElementById("viaturaId").className="activarAzul"}, 50);
			setTimeout(function(){
			if(window.innerWidth<780){
			document.getElementById("mySidebar").style.width = "0";
			document.getElementById("main").style.marginLeft= "0";
			document.getElementById("main").style.width="100%";
			document.getElementById("main").style.marginBottom="auto";}
			}, 50);

			//- let dados=JSON.parse($("#container").attr("dataa"))
			//- for(let i=0; i< dados.length; i++){
			//- dados[i].lista=dados[i].lista.sort((a, b) => (a.observacao >b.observacao)? 1 : -1)
			//- console.log(dados[i].lista);
			//- }
			//- 	var barChartData = {
			//- 	labels: [
			//- 	"Maputo Cidade"
			//- 	,
				
			//- 	"Região Centro",
			//- 	"Região Norte",
			//- 	"Região Sul"

			//- 	],
			//- 	datasets: [
			//- 	{
			//- 	label: "Bom Estado",
			//- 	backgroundColor: "green",
			//- 	borderColor: "green",
			//- 	borderWidth: 1,
			//- 	data: [dados[0].lista[0].soma, dados[1].lista[0].soma, dados[2].lista[0].soma, dados[3].lista[0].soma]
			//- 	},
			//- 	{
			//- 	label: "Estado Razoável",
			//- 	backgroundColor:"orange",
			//- 	borderColor: "orange",
			//- 	borderWidth: 1,
			//- 	data: [dados[0].lista[1].soma, dados[1].lista[1].soma, dados[2].lista[1].soma, dados[3].lista[1].soma],
			//- 	},
			//- 	{
			//- 	label: "Mau Estado",
			//- 	backgroundColor: "red",
			//- 	borderColor:"red",
			//- 	borderWidth: 1,
			//- 	data: [dados[0].lista[2].soma, dados[1].lista[2].soma, dados[2].lista[2].soma, dados[3].lista[2].soma]
			//- 	}
			//- 	,
			//- 	//- {
			//- 	//- label: "infratores",
			//- 	//- backgroundColor: "lightblue",
			//- 	//- borderColor: "blue",
			//- 	//- borderWidth: 1,
			//- 	//- data: [4, 7, 3, 6]
			//- 	//- }
			//- 	]
			//- 	};

			//- 	var chartOptions = {
			//- 	responsive: true,
				
			//- 	maintainAspectRatio:false,
			//- 	legend: {
			//- 	position: "top"
			//- 	},


			//- 	//- onClick:function(e){
			//- 	//- //- console.log(this.getElementAtEvent(e))
			//- 	//- 	var firstPoint = this.getElementAtEvent(e)[0];

			//- 	//- 	if (firstPoint) {
			//- 	//- 	var label = this.data.labels[firstPoint._index];
			//- 	//- 	var value = this.data.datasets[firstPoint._datasetIndex].data[firstPoint._index];
			//- 	//- 	console.log(this.getDatasetMeta(0).data[0]._model, value)
			//- 	//- 	}
			//- 	//- 	},
			//- 	title: {
			//- 	display: true,
			//- 	text: "Estatisticas"
			//- 	},
			//- 	scales: {
			//- 	yAxes: [{
			//- 	ticks: {
			//- 	beginAtZero: true
			//- 	}
			//- 	}]
			//- 	}
			//- 	}

			//- 	window.onload = function() {
			//- 	var ctx = document.getElementById("canvas").getContext("2d");
			//- 	window.myBar = new Chart(ctx, {
			//- 	type: "bar",
			//- 	event:function(e){console.log(this.getElementAtEvent(e))},
			//- 	data: barChartData,
			//- 	options: chartOptions
			//- 	});
			//- 	};

			//- 	var canvas1 = document.getElementById('canvas');
			//- 	//- var myChart = new Chart(canvas1, chartData);

			//- 	canvas1.onclick = function(evt) {
			//- 	var activePoint = myBar.getElementAtEvent(evt)[0];
			//- 	var data = activePoint._chart.data;
			//- 	var datasetIndex = activePoint._datasetIndex;
			//- 	var label = data.datasets[datasetIndex].label;
			//- 	var value = data.datasets[datasetIndex].data[activePoint._index];
			//- 	var regiao= data.labels[activePoint._index]
			//- 	label=label.replace("Estado", '').trim()
			//- 	if(regiao!="Maputo Cidade")
			//- 	regiao=regiao.replace("Região", '').toLowerCase().trim()
				
			//- 	var rule = label+'1'+regiao
			//- 	console.log(rule);
			//- 	window.location.href="/inspmensal/detalhes/"+rule
			//- 	};
