extends layout
block content
	.container.seccao.white
		//- if( DadosPettyCash.length != 0)
		//- 	.fixed-action-btn.top.fixed-add-bottom
		//- 		a(class="btn-floating btn-large activarAzul ") <i class="large material-icons activarVerde">menu</i>
		//- 		ul(id="extrairpettycash")
		//- 			//- li
		//- 			//- 	a.btn-floating.tooltipped.pointer.activarAzul(data-position="left", data-delay="10", data-tooltip="Add new record", class="btn-floating btn-large waves-effect waves-light", href="/pettycash/novoregistro") <i class="material-icons activarVerde">add</i>
		//- 			li
		//- 				a#escolherreport.btn-floating.pointer.tooltipped.activarAzul(data-position="left", data-delay="10", data-tooltip="Print report", class="btn-floating btn-large waves-effect waves-light", detalhesanosmeses="#{AnosMeses}", detalhescolaboradores="#{Colaboradores}", detalhesnomesanosmeses="#{NomesAnosMeses}", detalheusuario="#{DataU.nome}") <i class="material-icons activarVerde">print</i>
		if((DataU.nome == "Amancio Mazivila") || (DataU.nome == "Luis Brazuna") || (DataU.nivel_acesso == "admin"))
			.row
				.col.right
					form(id="formulario1", enctype="multipart/form-data", action="/pettycash/upload", method="post")
						input(type="file" name="file" style="border: none; width: 253px;" accept=".xls,.xlsx")
						input(type="submit" value="Upload" name="submit" style="border: none; width: 100px;" class="submit action-button")
		if( DadosPettyCash.length == 0)
			p.center-align.selmecAzul.bold <span data-i18n="demo.inspdiaria_home.lista_vazia"></span>
		else
			.row
				.col.s12.m6
				.col.s12.m6.right.input-field
					i.material-icons.prefix search
					label(for="pesquisador") <span data-i18n="demo.pesquisar"></span>
					input(type="text", id="pesquisador", name="pesquisador", style="border-bottom:none !important;")
			h1.center-align.selmecAzul.bold(style="font-size: 1.5em") <span data-i18n="demo.pettycash_home.folhadecaixa"></span>
			fieldset.no-border.legend-border
				legend.selmecAzul.bold
			table.responsive-table.bordered.striped
				thead
					tr.selmecAzul
						th <span data-i18n="demo.pettycash_home.nome"></span>
						th <span data-i18n="demo.pettycash_home.credito"></span>
						th <span data-i18n="demo.pettycash_home.saldo"></span>
						th <span data-i18n="demo.pettycash_home.data"></span>
						th
				tbody(id="myTable")
					-var year = new Date().getFullYear();
					-var month = new Date().getMonth();
					-for(var index = 0, j=0; index< DadosPettyCash.length; index++)
						-var nome = DadosPettyCash[index].pettycashuser_nome.split(" ")[0] + '_' + DadosPettyCash[index].pettycashuser_nome.split(" ")[1]
						tr.highlight(style="font-family:;color:#12375c")
							td #{DadosPettyCash[index].pettycashuser_nome}
							td #{DadosPettyCash[index].pettycash_credito}
							td #{DadosPettyCash[index].pettycash_saldo}
							td #{DadosPettyCash[index].pettycash_data}
							td
								a.pointer.info(style="margin-left: 15px", data-position="top", data-delay="10", href="/pettycash/detalhesUso/#{nome}/#{month}_#{year}_to_#{month}_#{year}") <i class="material-icons activarVerde">info</i>
	block js
		script.
			setInterval(function(){document.getElementById("financasId").className="activarAzul"}, 50);
			setTimeout(function(){
			if(window.innerWidth<780){
			document.getElementById("mySidebar").style.width = "0";
			document.getElementById("main").style.marginLeft= "0";
			document.getElementById("main").style.width="100%";
			document.getElementById("main").style.marginBottom="auto";}
			}, 50);