extends layout
block content
	.seccao.container.white
		form(id="formulario", method="POST", enctype="multipart/form-data")
			.fixed-action-btn.top.fixed-add-bottom
				a.btn-floating.pointer.activarAzul#gravar__(data-position="left", data-delay="10", data-tooltip="Add new inspection ", class="btn-floating btn-large waves-effect waves-light") <i class="material-icons activarVerde">save</i>
			fieldset.no-border.legend-border
				legend.selmecAzul.bold <span data-i18n="demo.po_form.titulo_p"></span>
				.row
					.col.s12.m6.input-field
						label(for="requested_by") <span data-i18n="demo.po_form.nome"></span>
						input.preencher( autocomplete="off", type="text", style="font-family: ;color:#12375c" ,id="requested_by" ,name="requested_by", data-sete="#{Forncedorres}" readonly, data-oito="#{Cambio}" value="#{Po_data? Po_data[0].requested_by : DataU.nome}")
					.col.s12.m6
						label(for="supplier") <span data-i18n="demo.po_form.fornecedor"></span>
						select.browser-default(name="supplier", id="supplier", style="font-family:")
							if Po_data
								option(value="#{Po_data[0].cliente_nome}") #{Po_data[0].cliente_nome}
							else
								option(value="" disabled selected selmecVerde) escolha opção
								-for(var i = 0; i < Fornecedor.length; i++)
									option(value="#{Fornecedor[i].cliente_nome}" cliente_reff="#{Fornecedor[i]._id}") #{Fornecedor[i].cliente_nome}
				.row
					.col.s12.m6.input-field
						label(for="deliver_shipping") <span data-i18n="demo.po_form.Frete"></span>
						input( autocomplete="off", readonly, type="text",  style="font-family:;color:#12375c" ,id="deliver_shipping" ,name="deliver_shipping",  placeholder="Frete...", value="#{Po_data? Po_data[0].deliver_shipping : ''}")
					.col.s12.m6.input-field
						label(for="supplier_contact") <span data-i18n="demo.po_form.cont_fornecedor"></span>
						input( autocomplete="off", type="text", readonly, style="font-family:;color:#12375c" ,id="supplier_contact" ,  placeholder="+258...", name="supplier_contact", value="#{Po_data? Po_data[0].supplier_contact : ''}")
				.row
					.col.s12.m6.input-field
						label(for="address") <span data-i18n="demo.po_form.endereco"></span>
						input(autocomplete="off",  type="text", readonly, style="font-family:;color:#12375c" ,id="address" ,  placeholder="Rua...", name="address",  value="#{Po_data? Po_data[0].address : ''}")
					.col.s12.m6.input-field
						label(for="supplier_code") <span data-i18n="demo.po_form.cod_fornecedor"></span>
						input( autocomplete="off", type="text", readonly, style="font-family:;color:#12375c" ,id="supplier_code" ,  placeholder="cod...",name="supplier_code", value="#{Po_data? Po_data[0].supplier_code : ''}")
					.col.s12.m6.input-field
						label(for="comment") <span data-i18n="demo.po_form.razoes"></span>
						input.preencher( autocomplete="off", type="text", id="comment",  value="#{Po_data ? Po_data[0].comment:''}", style="font-family:")
			fieldset.no-border.legend-border
				legend.selmecAzul.bold <span data-i18n="demo.po_form.titulo_Pagamento"></span>
				.row
					.col.s12.m6
						label(for="payment_method") <span data-i18n="demo.po_form.metodo_pagamento"></span>
						select.browser-default(name="payment_method", id="payment_method", style="font-family:")
							option(value="Cash") Cash
							option(value="Deposito Bancario") Deposito Bancario
					.col.s12.m6
						label(for="terms") <span data-i18n="demo.po_form.termo"></span>
						select.browser-default(name="terms", id="terms", style="font-family:")
							option(value="" disabled selected selmecVerde) Escolha opcao
							option(value="Cash") Cash
							option(value="Pronto Pagamento") Pronto pagamento
							option(value="50% / 50%") 50% / 50%
							option(value="15 dias") 15 dias
							option(value="30 dias") 30 dias
							option(value="45 dias") 45 dias
							option(value="Anual") Anual
			fieldset.no-border.legend-border
				legend.selmecAzul.bold <span data-i18n="demo.po_form.orde_pagamento"></span>
				.row
					.col.s12.m6
						label(for="department") <span data-i18n="demo.po_form.departamento"></span>
						select.browser-default(id="department", name="department")
							-for(let i=0; i<AdMagen[0].departamento.length; i++)
								option(value="#{AdMagen[0].departamento[i].nome}" , data-cont="#{AdMagen[0].departamento[i]._id}") #{AdMagen[0].departamento[i].nome}
						//- select.browser-default.browser-default(name="department", id="department", style="font-family:")
						//- 	-for(var i = 0; i < Departamento.length; i++)
						//- 		option(value="#{Departamento[i]}") #{Departamento[i]}
					.col.s12.m6
						label(for="proposito")  <span data-i18n="demo.po_form.proposito"></span>
						select.browser-default(name="proposito", id="proposito", style="font-family:")
							option(value="" disabled selected selmecVerde) Escolha opcao
							option(value="internal use") Internal Use
							option(value="project") Poject
							option(value="stock") Stock
						
				.row
					.col.s12.m6.clientte_name.hide
						label(for="clientte_name") Cliente
						select.browser-default.browser-default(name="clientte_name", id="clientte_name", style="font-family:")
							-for(var i = 0; i < Clientte.length; i++)
								option(value="#{Clientte[i].cliente_nome}") #{Clientte[i].cliente_nome}
					.col.s12.m6.input-field.quotation_number_project.hide
						label(for="quotation_number_project")  <span data-i18n="demo.po_form.project_quot_number"></span>
						input( autocomplete="off", type="text", id="quotation_number_project", name="quotation_number_project", value="#{Po_data ? Po_data[0].quotation_number : ''}", style="font-family:")
						
				.row
					.col.s12.m6.input-field
						label(for="quotation_number") <span data-i18n="demo.po_form.numero_cotacao"></span>
						input.preencher( autocomplete="off", type="text", id="quotation_number", name="quotation_number", value="#{Po_data ? Po_data[0].quotation_number : ''}", style="font-family:")
					.col.s12.m6
						label(for="for_store") <span data-i18n="demo.po_form.destino"></span>
						select.browser-default(name="for_store", id="for_store", style="font-family:")
							option(value="" disabled selected selmecVerde) Escolha opcao
							-for(let i=0; i<Armazem.length; i++)
								option(value="#{Armazem[i].nome}", data-for_store_ref="#{Armazem[i]._id}") #{Armazem[i].nome}
							//- option(value="Facilities") Facilities
							//- option(value="Information Technology") Information Technology
							//- option(value="Fleet Management") Fleet Management
							//- option(value="Power") Power
							//- option(value="SHEQ") SHEQ
							//- option(value="Telecoms") Telecoms
				.row
					.col.s12.m6.input-field.hide
						label(for="po_approver") <span data-i18n="demo.po_form.moeda"></span>
						input( autocomplete="off", type="text", id="po_approver", name="po_approver", value="#{Po_data ? Po_data[0].po_approver : ''}", style="font-family:")
				.row
					.col.s12
						.col.s2
							label(for="currency") <span data-i18n="demo.po_form.moeda"></span>
						.col.s4.m2
							input.bom(type="radio" id="currency_mzn" name="currency"  value="MZN")
							label(for="currency_mzn") MZN					
						.col.s4.m2
							input.bom(type="radio", id="currency_euro", name='currency', value="EURO")
							label(for="currency_euro") EURO
						.col.s4.m2
							input.bom(type="radio" id="currency_usd" name="currency"  value="USD")
							label(for="currency_usd") USD					
						.col.s4.m2
							input.bom(type="radio", id="currency_zar", name='currency', value="ZAR")
							label(for="currency_zar") ZAR
			fieldset.no-border.legend-border
				legend.selmecAzul.bold <span data-i18n="demo.po_form.cotacao_titulo"></span>
				.row.multi-field-wrapper.col.s12
					.multi-fields.col.s12
						.multi-field.col.s12
							.col.s12.m4.input-field
								label(for="minelxia") Item
								//- input(type="text", class="autocomplete pessoas_permitidas selectizacao", id="minelxia")
								select.browser-default.pessoas_permitidas#selectizacao(name="pessoas_permitidas[] selectizacao",  style="font-family:")
									option(value="" disabled selected selmecVerde) Escolha opcao
									-for(var i = 0; i < Items.length; i++)
										option(value="#{Items[i].description_item}" data-referencia="#{Items[i]._id}" data-serializedd="#{Items[i].serialized_item}" data-cliente_name="#{Items[i].cliente_name}") #{Items[i].description_item}
							.col.s10.m4.input-field
								label(for="quant_item") <span data-i18n="demo.po_form.quantidade"></span>
								input(type="number" id="quant_item"  min=0 name="quant_item" class="quant_item")
							.col.s10.m4.input-field
								label(for="preco_item") <span data-i18n="demo.po_form.Preco_unit"></span>
								input(type="number" id="preco_item" min=0 name="preco_item" class="preco_item")
					a(class="btn-floating btn-large waves-effect waves-light add-field3 right") +
				.row
					.col.s12
						table.responsive-table.bordered.striped(style="height:auto !important")
							thead
								tr.selmecAzul
									th <span data-i18n="demo.po_form.descricao"></span>
									th <span data-i18n="demo.po_form.preco_unit"></span>
									th Qtd
									th Total
									th 
							tbody(id="myTable_tecnicos_permitidos", style="height:auto !important")
						hr
						table(style="height:auto !important")
							tbody(style="height:auto !important")
								tr
									td
									td 
									th Sub-total
									td#subtotal 0.00
									td
								tr
									td
									td 
									th IVA 17%
									td#iva_valor 0.00
									td
								tr
									td
									td 
									th Total
									td#total_a_pagar 0.00
									td
			fieldset.no-border.legend-border
				legend.selmecAzul.bold <span data-i18n="demo.po_form.valor"></span>
				.row
					table.responsive-table(style="height:auto !important")
						thead
							tr
								th MZN
								th USD
								th EURO
								th ZAR
								th
						tbody(style="height:auto !important")
							tr
								td#metical_converted
								td#dolar_converted
								td#euro_converted
								td#rand_converted
								td
			fieldset.no-border.legend-border
				legend.selmecAzul.bold <span data-i18n="demo.po_form.ficheiro"></span>
				.row
					.col.s12.m4.input-field
						span <span data-i18n="demo.po_form.ficheiro_1"></span>
						input(type="file", id="primeiro_ficheiro", name="primeiro_ficheiro",autocomplete="off")
					.col.s12.m4.input-field
						span <span data-i18n="demo.po_form.ficheiro_2"></span>
						input(type="file", id="segundo_ficheiro", name="segundo_ficheiro",autocomplete="off")
					.col.s12.m4.input-field
						span <span data-i18n="demo.po_form.ficheiro_3"></span>
						input(type="file", id="terceiro_ficheiro", name="terceiro_ficheiro",autocomplete="off")
			fieldset.no-border
				.row.buttons-container
					if !Po_data
						.col.s12.m6.left-button
							button(type="button", class="btn", id="registar_Po") <span data-i18n="demo.utilizador_form.enviar_po"></span>

						.col.s12.m6.right-button
							button(type="button", class="btn red", id="cancelar_Po") <span data-i18n="demo.utilizador_form.cancelar"></span>
					else
						.col.s12.center
							button#voltar_util(type="button", class="btn waves-efect waves-light activarAzul") << Back
	block js
		script(type="text/javascript" src="/js/jquery.mask.js")
		
			//- link(rel="stylesheet", type="text/css", href="/css/selectize.css")
		script.

			setInterval(function(){document.getElementById("StockId").className="activarAzul"}, 50);
			setTimeout(function(){
			if(window.innerWidth<780){
			document.getElementById("mySidebar").style.width = "0";
			document.getElementById("main").style.marginLeft= "0";
			document.getElementById("main").style.width="100%";
			document.getElementById("main").style.marginBottom="0";
			document.getElementByClassName("capitalize").style.class="pequeno";
			}
			}, 50);

