extends layout
block content
	.container.seccao.white
		.fixed-action-btn.top.fixed-add-bottom
				a(class="btn-floating btn-large activarAzul ") <i class="large material-icons activarVerde">menu</i>
				ul(id="extrair", dados=stockData2)
					if DataU.nivel_acesso=="admin"
						li
							a.btn-floating.tooltipped.pointer.activarAzul(data-position="left", data-delay="10", data-tooltip="cambio", class="btn-floating btn-large waves-effect waves-light", href="/purchase_order/cambio") <i class="material-icons activarVerde">attach_money</i>
					else

					li
						a.btn-floating.pointer.activarAzul(data-position="left", data-delay="10", data-tooltip="Registar nova transferencia ", class="btn-floating btn-large waves-effect waves-light",  href="/purchase_order/novo") <i class="material-icons activarVerde">add</i>
		if !Po_data || ! Po_data.length
			p.center-align.selmecAzul.bold Vazio!
		else
			.row
				.col.s12.m6
				.col.s12.m6.right.input-field
					i.material-icons.prefix search
					label(for="pesquisador") <span data-i18n="demo.pesquisar"></span>
					input(type="text", id="pesquisador", name="pesquisador", style="border-bottom:none !important;")
			h1.center-align.selmecAzul.bold(style="font-size: 1.5em") Lista de P.O
			fieldset.no-border.legend-border
						legend.selmecAzul.bold
			table.responsive-table.bordered.striped
				thead
					tr.selmecAzul
						th <span data-i18n="demo.Po_home.numero_po"></span>
						th <span data-i18n="demo.Po_home.requisitado_por"></span>
						th <span data-i18n="demo.utilizador_form.departamento"></span>
						th Total
						th <span data-i18n="demo.po_form.fornecedor"></span>
						th <span data-i18n="demo.Po_home.Data_registo"></span>
						th Status
						th
				tbody(id="myTable")
					-for(var index = (Po_data.length-1), j=0; index>=0 && j<100 ; index--, j++)
						tr.highlight(data-funcionario="#{Po_data[index]._id}", data-nome="#{Po_data[index].nome}",style="color:#{Po_data[index].observacao}")
							td #{Po_data[index].po_number? Po_data[index].po_number: "   ****"}
							td #{Po_data[index].requested_by}
							td #{Po_data[index].department}
							td MZN #{Po_data[index].valor_em_metical}
							td #{Po_data[index].supplier}
							td #{((Po_data[index].data_po).getDate()<10? '0'+(Po_data[index].data_po).getDate():(Po_data[index].data_po).getDate())+'/'+(((Po_data[index].data_po).getMonth()+1)<10? ('0'+((Po_data[index].data_po).getMonth()+1)):((Po_data[index].data_po).getMonth()+1))+'/'+((Po_data[index].data_po).getFullYear())}							
							td 
								-if (Po_data[index].estagio.length <3 && !Po_data[index].returned &&(!Po_data[index].decline_reasons) && !Po_data[index].unprocessed)
									span.bold.left Send for Approval
								-if (Po_data[index].estagio.length <3 && Po_data[index].returned && !Po_data[index].unprocessed)
									span.bold.left Sent Back
								-if (Po_data[index].estagio.length <3 && Po_data[index].returned && Po_data[index].unprocessed)
									span.bold.left Unprocessed
								-if (Po_data[index].estagio.length >2)
									-if(Po_data[index].estagio[2]==1 && Po_data[index].estagio[Po_data[index].estagio.length-1]!=0)
										img(style='width:25px; ' src='/img/checked2.png')
								-if(Po_data[index].decline_reasons)
									img(style='width:25px;' src='/img/dinied.png')
							td
								a.pointer.info.tooltipped(style="margin-left: 10px", data-position="top", data-delay="10", data-tooltip="Detalhes da P.O", href="/purchase_order/detalhes/#{Po_data[index]._id}") <i class="material-icons activarVerde">info</i>
								-var temp = Po_data[index].estagio.length
								-if((DataU.nome==Po_data[index].intervenientes[(Po_data[index].estagio.length)])&&(Po_data[index].estagio.length<3)&&(!Po_data[index].returned)&&(!Po_data[index].decline_reasons))
									a.tooltipped.pointer.aprovar_po(style="margin-left: 10px; color:green",data-position="top", data-delay="10", data-tooltip="Aprovar P.O", data-user-id="#{Po_data[index].marca_modelo}", data-user-new="#{Po_data[index]._id}") <i class="material-icons bold">thumb_up</i>
									a.tooltipped.pointer.reprovar_po(style="margin-left: 10px; color:red",data-position="top", data-delay="10", data-tooltip="Reprovar P.O", data-user-id="#{Po_data[index].marca_modelo}", data-user-new="#{Po_data[index]._id}") <i class="material-icons bold">thumb_down</i>
									a.pointer.returnPoo(style="margin-left: 10px; color:blue",data-position="top", data-delay="10", data-tooltip="", data-user-id="#{Po_data[index].marca_modelo}", data-user-new="#{Po_data[index]._id}") <i class="material-icons bold">replay</i>
								-if ((Po_data[index].actual_situation!="reprovado")&&(Po_data[index].estagio.length <3)&&(DataU.nome==Po_data[index].requested_by) )
									a.tooltipped.pointer.cancelarr_po(style="margin-left: 10px; color:orange",data-position="top", data-delay="10", data-tooltip="Cancelar P.O", data-user-id="#{Po_data[index].marca_modelo}", data-user-new="#{Po_data[index]._id}") <i class="material-icons bold">delete_forever</i>

								-if ((DataU.nome==Po_data[index].intervenientes[3])&&(Po_data[index].estagio.length<4)&&(Po_data[index].actual_situation=="aprovado")&& Po_data[index].estagio[2]==1 && Po_data[index].estagio[Po_data[index].estagio.length-1]!=0)
									a.tooltipped.pointer(style="margin-left: 10px; color:green",data-position="top",href="/purchase_order/receiving/#{Po_data[index]._id}", data-delay="10", data-tooltip="Receber mercadoria", data-user-new="#{Po_data[index]._id}") <img src="/img/recebergods.png" style="width:25px"></img>
									
								-if ((DataU.nome==Po_data[index].intervenientes[0])&&(Po_data[index].estagio.length==1)&&(Po_data[index].returned_reason))
									a.pointer.editar_purchase_order(style="margin-left: 10px; color:green",data-position="top", data-delay="10", data-tooltip="editar a P.O", data-user-id="", data-user-new="#{Po_data[index]._id}") <i class="material-icons bold">edit</i>
								-if ((Po_data[index].actual_situation!="reprovado")&&(Po_data[index].estagio.length==3)&&(DataU.nome==Po_data[index].requested_by) && Po_data[index].po_number )
									a.tooltipped.pointer.reporters_Po(style="margin-left: 10px; color:green",data-position="top", valor="#{Po_data[index]._id}", data-delay="10", data-tooltip="Receber mercadoria", data-user-new="#{Po_data[index]._id}") <i class="material-icons bold">assignment</i>
									
								

	block js
		script.
			setInterval(function(){document.getElementById("StockId").className="activarAzul"}, 50);
			setTimeout(function(){
			if(window.innerWidth<780){
			document.getElementById("mySidebar").style.width = "0";
			document.getElementById("main").style.marginLeft= "0";
			document.getElementById("main").style.width="100%";
			document.getElementById("main").style.marginBottom="auto";}
			}, 50);