extends layout
block content
	.seccao.container.white
		form(id="formulario", method="POST")
			fieldset.no-border.legend-border
				legend.selmecAzul.bold <span data-i18n="demo.utilizador_form.dados_basicos"></span>
				.row
					.col.s12.m6.input-field
						label(for="nome") <span data-i18n="demo.utilizador_form.departamento"></span>
						input.preencher( autocomplete="off", type="text", style="font-family:;color:#12375c" ,id="nome", readonly,name="nome", value="#{Depp? Depp.nome : ''}")
					.col.s12.m6.input-field
						label(for="chefe_depart") Chefe do departamento
						input.preencher( autocomplete="off", type="text", style="font-family:;color:#12375c" ,id="nome", readonly,name="nome", value="#{Depp? Depp.chefe_depart : ''}")
				.row
					.col.s12.m6.input-field
						label(for="limite_po") Valor Limite da PO
						input(type="number",  id="limite_po", name="limite_po", readonly, value="#{Depp? Depp.limite_po : ''}" )
					.col.s12.m6.input-field
						label(for="limite_mensals") Valor Limite Mensal
						input(type="number",  id="limite_mensals", name="limite_mensals", readonly, value="#{Depp? Depp.limite_mensal : ''}" )
					.col.s12.m6.input-field
						label(for="registado_por") Registado por
						input(type="text",  id="registado_por", name="registado_por", readonly, value="#{Depp? Depp.registado_por : ''}" )
					-if(Depp.data_edicao)
						.col.s12.m6.input-field
							label(for="editado_por") Editado por
							input.preencher( autocomplete="off", type="text", style="font-family:;color:#12375c" ,id="editado_por", readonly,name="editado_por", value="#{Depp? Depp.editado_por : ''}")
						.col.s12.m6.input-field
							label(for="data_edicao") Data de edicao
							input.preencher( autocomplete="off", type="text", style="font-family:;color:#12375c" ,id="data_edicao", readonly,name="data_edicao", value="#{Depp? Depp.data_edicao : ''}")
			fieldset.no-border
				.row.buttons-container
					.col.s12.center
						butoon#voltar_util(type="button", class="btn waves-efect waves-light activarAzul") << Back
	block js
		script(type="text/javascript" src="/js/jquery.mask.js")
		script.
			
			setTimeout(function(){document.getElementById("adminsession").className="activarAzul"}, 100);
			setTimeout(function(){
			if(window.innerWidth<780){
			document.getElementById("mySidebar").style.width = "0";
			document.getElementById("main").style.marginLeft= "0";
			document.getElementById("main").style.width="100%";
			document.getElementById("main").style.marginBottom="0";
			document.getElementByClassName("capitalize").style.class="pequeno";
			}
			}, 50);



