extends layout
block content
	.row(style="margin-top:15px;margin-bottom: 0px !important;")
		.row.tabsSiteInfo
			.row
				-if(DataU.nome != "Guest")
					div(class="fixed-action-btn horizontal fixed-add-bottom")
						a.tooltipped.verde-policial-bg.activarAzul(data-position="left", data-delay="10", data-tooltip="add new site info", class="btn-floating btn-large waves-effect waves-light", href="/manutencao/novositeinfo") <i class=" activarAzul material-icons">add</i>
				-if(DataU.nivel_acesso == "admin")
					.row
						.col.right
							form(id="uploadForm", enctype="multipart/form-data", action="/manutencao/upload", method="post")
								input(type="file" name="file" style="border: none; width: 253px;")
								input(type="submit" value="Upload" name="submit" style="border: none; width: 100px;")
			.row
				if(Siteinfos == 0)
					p.center-align.selmecAzul.bold <span data-i18n="demo.site_info.listavazia"></span>
				else
					form#siteinfohomepesquisa(class="col s12"  method="POST" onsubmit="return validateForm()" name="siteinfohomepesquisa")
						.row
							.col.s12.m6
							.col.s12.m6.right.input-field
								i.material-icons.prefix search
								label(for="pesquisador") <span data-i18n="demo.pesquisar"></span>
								input(type="text", id="pesquisador", name="pesquisador", style="border-bottom:none !important;")
					h1.center-align.selmecAzul.bold(style="font-size: 1.5em") <span data-i18n="demo.site_info.listasiteinfo"></span>
					fieldset.no-border.legend-border
						legend.selmecAzul.bold
					table.responsive-table.bordered.striped
						thead
							tr.selmecAzul
								th <span data-i18n="demo.site_info.numero"></span>
								th Site
								th <span data-i18n="demo.site_info.regiaoselmec"></span>
								th <span data-i18n="demo.site_info.maintoff"></span>
								th <span data-i18n="demo.site_info.generatorinstall"></span>
								th <span data-i18n="demo.site_info.acinstall"></span>
								th <span data-i18n="demo.site_info.guardasite"></span>
								th Credelec
								th
						tbody(id="myTable")
							-for(var index = 0; index < Siteinfos.length; index++)
								tr.highlight(style="font-family:;color:#12375c")
									td #{Siteinfos[index].siteinfo_sitenum}
									td #{Siteinfos[index].siteinfo_sitename}
									td #{Siteinfos[index].siteinfo_regiaoselmec}
									td #{Siteinfos[index].siteinfo_maintoff}
									td #{Siteinfos[index].siteinfo_generator}
									td #{Siteinfos[index].siteinfo_ac}
									td #{Siteinfos[index].siteinfo_guardsite}
									td.center #{Siteinfos[index].siteinfo_credelec}
									td.center-align
										-if(DataU.nome == "Guest")
											a.tooltipped.pointer.info(style="margin-left: 15px", data-position="top", data-delay="10", href="/manutencao/detalhesSiteinfo/#{Siteinfos[index]._id}", data-tooltip="Site Details") <i class="material-icons activarVerde">info</i>
										-else
											a.tooltipped.pointer.info(style="margin-left: 15px", data-position="top", data-delay="10", href="/manutencao/detalhesSiteinfo/#{Siteinfos[index]._id}", data-tooltip="Site Details") <i class="material-icons activarVerde">info</i>
											a.tooltipped.pointer.info(style="margin-left: 15px", data-position="top", data-delay="10", data-tooltip="Edit Site #{Siteinfos[index].siteinfo_sitenum}", href="/manutencao/editarSite/#{Siteinfos[index]._id}") <i class="material-icons selmecAzul">edit</i>
							if !Dadospesquisa
								tr.highlight(style="font-family:;color:#12375c")
									td.center-align
										if(dadoscontroladordecr != 0)
											a.tooltipped.pointer.info(style="margin-left: 15px", data-position="top", data-delay="10", data-tooltip="Próximo" href="/manutencao/siteinfohome/previouspage/#{dadoscontroladordecr}/#{dadostotalnr}") <i class="material-icons selmecAzul">fast_rewind</i>
									td
									td
									td
									td
									td
									td
									td
									td.center-align
										if(dadoscontroladorincr < dadostotalnr)
											a.tooltipped.pointer.info(style="margin-left: 15px", data-position="top", data-delay="10", data-tooltip="Próximo" href="/manutencao/siteinfohome/nextpage/#{dadoscontroladorincr}/#{dadostotalnr}") <i class="material-icons selmecAzul">fast_forward</i>
	block js
		script.
			function validateForm() {
				var pesquisador = document.forms["siteinfohomepesquisa"]["pesquisador"].value;
				if(pesquisador != ""){
					document.getElementById("siteinfohomepesquisa").action = "/manutencao/siteinfohomepesquisa";
				}
			}


			setInterval(function(){document.getElementById("geradorId").className="activarAzul"}, 50);
			setTimeout(function(){
				if(window.innerWidth<780){
					document.getElementById("mySidebar").style.width = "0";
					document.getElementById("main").style.marginLeft= "0";
					document.getElementById("main").style.width="100%";
					document.getElementById("main").style.marginBottom="0";}
				}, 50);