extends layout
block content
	.row(style="margin-top:15px;margin-bottom: 0px !important;")
		-if(GeneratorHistory.length>0)
			.row
				.fixed-action-btn.top.fixed-add-bottom
					a(class="btn-floating btn-large activarAzul ") <i class="large material-icons activarVerde">menu</i>
					ul(id="extrairmaintreport")
						li
							a.btn-floating.pointer.activarAzul#extrairdieselreport(data-position="left", data-delay="10", data-tooltip="Export Diesel Report", class="btn-floating btn-large waves-effect waves-light", valor="#{pacote}") <i class="material-icons activarVerde">file_download</i>
		.row
			if(GeneratorHistory.length == 0)
				p.center-align.selmecAzul.bold <span data-i18n="demo.ttnumber_form.seminfo"></span>
			else
				.row
					.col.s12.m6
					.col.s12.m6.right.input-field
						i.material-icons.prefix search
						label(for="pesquisador") <span data-i18n="demo.pesquisar"></span>
						input(type="text", id="pesquisador", name="pesquisador", style="border-bottom:none !important;")
				h1.center-align.selmecAzul.bold(style="font-size: 1.5em") <span data-i18n="demo.manutencao_form.dieselreports"></span>
				fieldset.no-border.legend-border
					legend.selmecAzul.bold
				table.responsive-table.bordered.striped#myTable
					thead
						tr.selmecAzul
							th Site
							th <span data-i18n="demo.manutencao_form.jobtype"></span>
							th <span data-i18n="demo.manutencao_form.tecniconome1"></span>
							th <span data-i18n="demo.manutencao_form.regiao"></span>
							th <span data-i18n="demo.manutencao_form.previousrefuelhrs1"></span>
							th <span data-i18n="demo.manutencao_form.currentgeneratorhours1"></span>
							th <span data-i18n="demo.manutencao_form.totalrunhour1"></span>
							th <span data-i18n="demo.manutencao_form.litresrefuel"></span>
							th <span data-i18n="demo.manutencao_form.priceperliter1"></span>
							th TTNumber
							th <span data-i18n="demo.manutencao_form.estadotrabalho"></span>
							th <span data-i18n="demo.manutencao_form.tipogerador"></span>
							th <span data-i18n="demo.manutencao_form.refuelreason1"></span>
							th 
					tbody(id="myTableUser1")
						-for(var index = 0; index < GeneratorHistory.length; index++)
							tr.highlight(style="font-family:;color:#12375c")
								td #{GeneratorHistory[index].gerador_sitenumber}
								-if(GeneratorHistory[index].gerador_jobcardtype == "Preventative Maintenance")
									td Prev. Maint.
								-else
									td #{GeneratorHistory[index].gerador_jobcardtype}
								td #{GeneratorHistory[index].gerador_jobcardmaintenanceofficer}
								td #{GeneratorHistory[index].gerador_jobcardregion}
								td #{GeneratorHistory[index].gerador_previousrefuelhours}
								td #{GeneratorHistory[index].gerador_actualhours}
								td #{GeneratorHistory[index].gerador_totalrunhour}
								td #{GeneratorHistory[index].gerador_refuellitres}
								td #{GeneratorHistory[index].gerador_priceperlitre}
								td #{GeneratorHistory[index].gerador_jobcardttnumber}
								td #{GeneratorHistory[index].gerador_workstatus}
								td #{GeneratorHistory[index].gerador_gentype}
								td #{GeneratorHistory[index].gerador_refuelreason}
								td.center-align
									-if(GeneratorHistory[index].gerador_jobcardtype == "Preventative Maintenance")
										a.tooltipped.pointer.info(style="margin-left: 25px", data-position="top", data-delay="10", href="/manutencao/detalhesJobcardPlanned/#{GeneratorHistory[index].gerador_jobcardrefid}", data-tooltip="Details of maintenance") <i class="material-icons activarVerde">info</i>
									-else
										a.tooltipped.pointer.info(style="margin-left: 25px", data-position="top", data-delay="10", href="/manutencao/detalhesJobcardCallOut/#{GeneratorHistory[index].gerador_jobcardrefid}", data-tooltip="Details of maintenance") <i class="material-icons activarVerde">info</i>
	block js
		script(type="text/javascript" src="/js/jquery.mask.js")
		script.

			$('#loading').fadeOut();
			setTimeout(function(){document.getElementById("geradorId").className="activarAzul"}, 50);
			setTimeout(function(){
				
			if(window.innerWidth<780){
			document.getElementById("mySidebar").style.width = "0";
			document.getElementById("main").style.marginLeft= "0";
			document.getElementById("main").style.width="100%";
			document.getElementById("main").style.marginBottom="0";
			document.getElementByClassName("capitalize").style.class="pequeno";
			}
			}, 50);