extends layout

block content
	.seccao.container.white
		div(class="fixed-action-btn horizontal fixed-add-bottom")
			if (DataU.nivel_acesso =="admin")
				a.tooltipped.verde-policial-bg.activarAzul(data-position="left", data-delay="10", data-tooltip="add new user", class="btn-floating btn-large waves-effect waves-light", href="/veiculo_Control/novo") <i class=" activarAzul material-icons">add</i>
		if !Veiculos || !Veiculos.length
			p.center-align.selmecAzul.bold Empty!
		else
			.row
				.col.s12.m6
				.col.s12.m6.right.input-field
					i.material-icons.prefix.activarVerde search
					label(for="pesquisadoruser") <span data-i18n="demo.pesquisar"></span>
					input(type="text", id="pesquisadoruser", name="pesquisadoruser", style="border-bottom:none !important;")
					.col.s6.file-field.input-field.hide
						.btn-floating.tooltipped.white.pointer#exportar(style="box-shadow:none !important;" data-position="left", data-delay="10", data-tooltip="Exportar Kilometragem", class="btn-floating btn-large waves-effect waves-light")
						input(type="file", id="upexcel",  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet")
						i.material-icons.activarVerde.small file_upload 
						<span class="hide-on-small-only"> Carregar</span>

			h1.center-align.selmecAzul.bold(style="font-size: 1.5em") Lista de viaturas
			fieldset.no-border.legend-border
				legend.selmecAzul.bold
			table.responsive-table.bordered.striped
				thead
					tr.selmecAzul
						th Marca
						th Matricula
						th Provincia
						th Responsavel
						th 
				tbody(id="myTableUser")
					-for(var index = 0; index < Veiculos.length; index++)
						tr.highlight(data-caso="#{Veiculos[index]._id}",,style="font-family:;color:#12375c")
							td #{Veiculos[index].marca}
							td #{Veiculos[index].matricula}
							td #{Veiculos[index].provincia}
							td #{Veiculos[index].responsavel}
							td.center-align
								if (DataU.nivel_acesso=="admin")
									a.tooltipped.pointer.info(style="margin-left: 15px", data-position="top", data-delay="10", data-tooltip="Details of #{Veiculos[index].nome}", href="/veiculo_Control/detalhes/#{Veiculos[index]._id}") <i class="material-icons activarVerde">info</i>
									a.tooltipped.pointer.info.hide(style="margin-left: 15px", data-position="top", data-delay="10", data-tooltip="edit  #{Veiculos[index].nome}", href="/utilizador/editar/#{Veiculos[index]._id}") <i class="material-icons selmecAzul">edit</i>
		block js
		script.
			

			setInterval(function(){document.getElementById("viaturaId").className="activarAzul"}, 50);
			setTimeout(function(){
			if(window.innerWidth<780){
			document.getElementById("mySidebar").style.width = "0";
			document.getElementById("main").style.marginLeft= "0";
			document.getElementById("main").style.width="100%";
			document.getElementById("main").style.marginBottom="0";
			document.getElementByClassName("capitalize").style.class="pequeno";
			}
			}, 50);